.mainbox{
    background-color: rgb(127, 255, 212);
    width: 80vw;
    height: 80vh;
    margin: auto;
    position: relative;
}
.box1{
    background-color: rgba(0, 0, 0, 0.579);
    height: 100px;
    width: 100px;
    /* position: relative; */
    z-index: 2;
}
.box2{
    background-color: rgba(128, 0, 128, 0.614);
    height: 100px;
    width: 100px;
    position: relative;
    top: 30px;
}
.box3{
    background-color: rgba(255, 0, 0, 0.608);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50px;
}
.icerde{
    position: absolute;
    bottom: 1px;
    z-index: 1;
    background-color: antiquewhite;
}